@media only screen and (max-width: 900px) {
  .header {
    background-image: url(../medias/images/bg_hero_mobile.svg);
    font-size: 14px;
  }
  .logoHeader {
    height: auto;
    width: auto;
    padding-top: 20px;
  }
  .tryIt {
    font-size: 10px;
    height: 10%;
    padding: 4%;
    margin-top: 10px;
  }
  body :not(.enTT) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  h1 {
    display: flex;
    align-items: center;
  }
  .getStartedH {
    padding: 7px 10px;
    width: 200px;
    align-self: center;
  }
  .mockups {
    width: 60%;
    height: 100%;
    margin-block-start: 0;
    display: flex;
    align-self: center;
    margin-left: 10%;
  }

  h2 {
    font-size: 20px;
  }
  .firstArticle,
  .secondArticle,
  .thirdArticle {
    padding: 10%;
  }

  .firstArticle p,
  .secondArticle p,
  .thirdArticle p {
    font-size: 14px;
    color: hsl(208, 11%, 55%);
  }

  .imgGrowTG,
  .imgFlowingC,
  .imgYourU {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    margin: 0;
  }
  .lastDiv {
    margin: 0px 10% -10%;
  }
  .getStartedF {
    padding: 2%;
    font-size: 14px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-left: 5%;
  }

  .localisation,
  .phone,
  .email {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .logoFooter {
    height: auto;
    width: 40vh;
    padding-block: 4%;
  }
  .localisation a,
  .phone a,
  .email a {
    font-size: 12px;
    width: 300px;
    text-align: left;
    margin-left: 40px;
  }
  .pContact {
    margin-top: -5%;
  }

  li {
    padding-top: 5px;
    display: flex;
    align-items: start;
  }
  .liens {
    height: 90px;
  }
  .logoRS {
    display: flex;
    flex-direction: row !important;
    padding: 5%;
    justify-content: space-between !important;
    align-self: center !important;
    margin-top: 7%;
  }

  .divCR {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    margin-top: 10%;
  }
  .copyR {
    color: white;
    font-size: small;
  }
  .visageTriste {
    display: none !important;
  }
}
