body {
  margin: 0;
  font-size: 18px;
}
a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
}
a:hover {
  cursor: pointer;
}
.header {
  background-image: url(../medias/images/bg_hero_desktop.svg);
  background-color: hsl(193, 100%, 96%);
  background-size: cover;
  padding-top: 20px;
}
.enTT {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 90%;
  margin: 0 5%;
}
.logoHeader {
  height: 60px;
}
.tryIt {
  text-decoration: none;
  border-radius: 30px;
  border-width: 2px 4px;
  background-color: white;
  color: black;
  padding: 10px 25px;
  box-shadow: 1px 1px 6px #555;
}
.headerContent {
  display: flex;
}
.contentTitle {
  font-family: "Poppins", sans-serif;

  padding: 8%;
}
.Ftitle {
  width: 100%;
  margin-bottom: 50px;
}
.getStartedH {
  background-color: hsl(322, 100%, 66%);
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  padding: 15px 30px;
  display: block;
  width: 250px;
}
.getStartedH:hover,
.getStartedF:hover {
  background-color: hsl(322, 100%, 66%, 0.5);
  /* cursor: url(../medias/icons/curseurMM.png); */
}
.mockups {
  margin-top: 70px;
  margin-right: 50px;
  width: 100%;
  height: 100%;
}

.mainContent {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.firstArticle,
.secondArticle,
.thirdArticle {
  font-size: 18px;
  padding: 5% 20% 5% 20%;
  display: flex;
  justify-content: space-between;
  color: hsl(208, 11%, 55%);
  margin: 5% 10%;
  padding: 5% 7%;
  border-radius: 10px;
  border: 2px solid rgb(243, 243, 243);
}
h2 {
  color: black;
}

.imgGrowTG,
.imgYourU {
  width: auto;
  height: 270px;
  margin-left: 7%;
}
.imgFlowingC {
  width: auto;
  height: 270px;
  margin-right: 7%;
}
.firstArticle {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.thirdArticle {
  flex-direction: row-reverse;
}

.lastDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  padding: 20px 10% 20px 10%;
  text-align: center;
  border-radius: 10px;
  margin: 0px 25% -60px;
  box-shadow: 2px 2px 5px gray;
}

.getStartedF {
  padding: 15px 40px;
  background-color: hsl(322, 100%, 66%);
  border-radius: 30px;
  border-width: 2px 4px;
  text-decoration: none;
  text-align: center;
}

.footer {
  background-color: hsl(192, 100%, 9%);
  display: grid;
  grid-template-columns: 35% 20% 20% 25%;
  padding: 120px 20px 40px 100px;
}
li {
  padding-top: 25%;
}

ul {
  list-style: none;
}
li:hover {
  text-decoration: underline white;
}
.liens {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.localisation,
.phone,
.email {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imgContact {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.lDivF {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.logofb,
.logotwitter,
.logoinsta {
  width: 40px;
  height: 30px;
  padding: 15%;
  border: 3px solid white;
  border-radius: 50%;
}
.logotwitter:hover {
  content: url(../medias/icons/twitterRose.svg);
  border-color: hsl(322, 100%, 66%);
}
.logoinsta:hover {
  content: url(../medias/icons/instagramRose.svg);
  border-color: hsl(322, 100%, 66%);
}
.logofb:hover {
  content: url(../medias/icons/facebookRose.svg);
  border-color: hsl(322, 100%, 66%);
}
.logoRS {
  display: flex;
  justify-content: space-evenly;
  width: 260px;
}

.divCR {
  display: flex;
  align-items: center;
  margin-top: 75%;
}
.logoCopyR {
  width: 20px;
  margin-right: 10px;
}

.copyR {
  font-size: 14px;
  color: white;
}

.visageTriste {
  display: none;
  position: absolute;
  width: 50%;
  height: auto;
  border-radius: 25%;
  margin: 25%;
  margin-top: 10%;
}
